<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
    </head>

    <body style="width: 100vw; height: 100vh;; display: flex; flex-direction:column; justify-content: space-between;">
        <%- include('../includes/navigation.ejs') %>
		
		<main style="overflow-y: auto;">
			<% if (products.length > 0) { %>
				<div class="grid">
					<% for (let product of products) { %>						
						<article class="card product-item">
							<header class="card__header">
								<h1 class="product__title"><%= product.productId.title %></h1>
							</header>
							<div class="card__image">
								<img src="<%= product.productId.imageUrl %>" alt="A Book">
							</div>
							<div class="card__content">
								<h2 class="product__price">$<%= product.productId.price %></h2>									
								<p class="product__description"><%= product.productId.description %></p>
							</div>
							<div class="card__actions">
								<a href="/product/<%= product.productId._id %>" class="btn">Details</a>
								<form action="/cart/remove-product?remove=true" method="post">
									<input type="hidden" name="productId" value="<%= product.productId._id %>">
									<input type="hidden" name="price" value="<%= product.productId.price %>">
									<button class="btn" type="submit">Remove</button>
								</form>
							</div>
							<p class="product__price">Quantity: <%=product.quantity %></p>
						</article>                        
                    <% } %>
				</div>
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
		<% if (products.length > 0) { %>
		<footer style="height: 100px; display: flex; justify-content: center">
			<form action="/order-items" method="post">
				<button class="btn" type="submit">Order items</button>
			</form>
		</footer>
		<% } %>
        <%- include('../includes/end.ejs') %>