<%- include('../includes/head.ejs') %>
     <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
		<main style="overflow-y: auto;">
			<% if(orders.length > 0) {%>
				<ul class="orders">
					<% for (let order of orders){ %>
						<li class="orders__item orders__products-container">
							<div class="">
								<h1>Order # - <%= order._id%> </h2>
								<ul class="orders__products">
									<% for (let prod of order.products){ %>
										<li class="orders__products-item">
											<%= prod.productId.title%> ($<%= prod.productId.price %>  *  <%= prod.quantity %>) 
										</li>
									<% } %>
								</ul>
							</div>
							<div class="orders__products-invoice-wrap">
								<a href="/orders/<%= order._id%>">invoice</a>
							</div>
						</li>
					<% } %>
				</ul>
		</main>
		<%} else {%>
			<h1>Nothing there</h1>
        <% } %>
		<%- include('../includes/end.ejs') %>