<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
		<% if (message &&  message !== 'error') { %>
			<div class="user-message"><%= message %></div>
		<% } %>
        <form class="login-form" 
				action="/changePassword" 
				method="POST"
		>
            <div class="form-control">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-control <% if (message &&  message === 'error') { %> form-control--error <% } %>">
                <label for="confPassword">Confirm New Password</label>
                <input type="password" name="confPassword" id="confPassword">
            </div>
			<input type="hidden" value="<%= csrfToken %>" name="_csrf" />
            <button class="btn" type="submit">Change password</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>